<html lang="zh-CN"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/admin_box">

<th:block layout:fragment="head"></th:block>

<th:block layout:fragment="content">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header" th:text="${edit ? '文章修改' : '添加文章'}"></h1>

        <form id="post-form" class="form-horizontal" onsubmit="return save();">
            <div class="form-group">
                <label class="col-sm-2 control-label">标题</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="title" placeholder="标题" th:value="${title ?: ''}" />
                </div>
                <input type="hidden" name="articleId" th:value="${id}" />
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">副标题</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="subTitle" placeholder="副标题" th:value="${subTitle ?: ''}" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">文章来源</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="originalUrl" placeholder="文章来源URL地址" th:value="${originalUrl ?: ''}" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">内容</label>
                <div class="col-sm-8">
                    <textarea class="form-control" name="content" rows="20" placeholder="正文内容" th:text="${content ?: ''}"></textarea>
                </div>
                <div class="col-sm-2"><a class="btn btn-default" onclick="viewImgs();">插入图片</a></div>
            </div>
            <div class="form-group">
                <label class="col-sm-offset-2 col-sm-8">
                    <input type="checkbox" id="allowComment" th:checked="${allowComment}" /> 允许评论
                </label>
            </div>
            <div class="form-group">
                <label class="col-sm-offset-2 col-sm-8">
                    <input type="checkbox" id="hidden" th:checked="${hidden}" /> 隐藏此文
                </label>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-8">
                    <button type="submit" class="btn btn-primary">提交</button>
                    <a class="btn btn-default" onclick="previewArticle();">预览</a>
                </div>
            </div>
        </form>
    </div>

    <!-- 模态对话框 -->
    <div class="modal fade" id="viewModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">图片选择</h4>
                </div>
                <div class="modal-body">
                    <p id="view-img-tags">暂无标签</p>
                    <hr />
                    <div id="view-img-body">暂无图片</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- 模态对话框 -->
    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">预览提示</h4>
                </div>
                <div class="modal-body">
                    <div>预览的文章仅能在新打开的页面展示，且只展示一次，刷新或者拷贝地址重新打开都将失效并跳转至首页</div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary preview" target="_blank" onclick="$('#confirmModal').modal('hide');">预览</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</th:block>

<th:block layout:fragment="footer">
    <script type="text/javascript">
        function save() {
            var req = $('#post-form').serialize();
            req += '&allowComment=' + $('#allowComment').is(':checked') + '&hidden=' + $('#hidden').is(':checked');
//            alert(req);return false;
            $.post('/admin/saveArticle', req, function (json) {
                //alert(JSON.stringify(json));
                if(json.code != 0) {
                    alert(json.message || '保存失败');
                    return;
                }
                window.location.href = '/admin/articleList';
            });
            return false;
        }
        // 文章预览
        function previewArticle() {
            var req = $('#post-form').serialize();
            $.post('/admin/previewArticle', req, function (json) {
                if(json.code != 0) {
                    alert(json.message || '预览失败');
                    return;
                }
                if(json.data) {
                    $('#confirmModal').modal();
                    $('#confirmModal a.preview').attr('href', '/article/preview/' + json.data);
                }
            });
        }
        // 图片预览
        function viewImgs() {
            $('#viewModal').modal();
            $.post('/admin/listAllFileTags', function (json) {
                var html = '';
                json.data.forEach(function (e) {
                    html += ' <button type="button" class="btn btn-default" onclick="showImgs(\'' + e.tagId + '\');">' + e.tagName + '</button>';
                });
                $('#view-img-tags').html(html || '暂无标签');
            });
        }
        function showImgs(tagId) {
            var fill = function (e) {
                return '<div class="col-sm-4">' +
                    '<a href="javascript:;" class="thumbnail" onclick="chooseImg(\'' + e.fileId + '\');"><img src="' + e.url + '" alt="' + e.fileName + '" /></a>' +
                    '</div>';
            };
            $.post('/admin/listFileInfoByTag', {tagId: tagId}, function (json) {
                var list = json.data || [], html = '';
                var i = 0;
                while(i < list.length) {
                    html += '<div class="row">' + fill(list[i]);
                    if(i + 1 < list.length) {
                        html += fill(list[i + 1]);
                    }
                    if(i + 2 < list.length) {
                        html += fill(list[i + 2]);
                    }
                    html += '</div>';
                    i += 3;
                }
                $('#view-img-body').html(html || '暂无图片');
            });
        }
        function chooseImg(id) {
            var text = '[image]' + id + '[/image]';
            var box = $('textarea[name="content"]')[0];
            if(document.selection) { // IE
                var sel = document.selection.createRange();
                sel.text = text;
                sel.select();
            } else if(typeof box.selectionStart === 'number' && typeof box.selectionEnd === 'number') {
                var start = box.selectionStart, end = box.selectionEnd;
                var content = box.value;
                box.value = content.substring(0, start) + text + content.substring(end, content.length);
                box.selectionStart = box.selectionEnd = start + text.length;
            } else {
                alert('该浏览器不支持插入图片，请使用其它浏览器');
            }
            $('#viewModal').modal('hide');
        }
        $(function () {
            //searchData();
        });
    </script>
</th:block>

</html>