<html lang="zh-CN"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/admin_box">

<th:block layout:fragment="head"></th:block>

<th:block layout:fragment="content">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Search</h1>

        <form id="search-form" onsubmit="return searchData();">
            <div class="row placeholders">
                <div class="col-xs-6 col-sm-3 placeholder">
                    <input type="text" class="form-control" name="fileName" placeholder="文件名" />
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                    <select class="form-control" name="fileType">
                        <option value="0">全部</option>
                        <option value="1">图片</option>
                        <option value="2">视频</option>
                    </select>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder text-left">
                    <input type="submit" class="btn btn-primary" value="搜索" />
                    <a class="btn btn-default" href="/admin/fileInfoEdit">新增</a>
                </div>
            </div>
        </form>

        <h2 class="sub-header">文件/资源列表</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>文件名</th>
                    <th>文件类型</th>
                    <th>文件标签</th>
                    <th>时间</th>
                    <th>隐藏</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody id="tbody">
                <tr v-for="e in list">
                    <td>{{ e.fileName }}</td>
                    <td>{{ e.fileTypeName }}</td>
                    <td v-if="e.fileTagNames && e.fileTagNames.length > 0"><span class="badge" v-for="name in e.fileTagNames">{{ name }}</span></td>
                    <td v-else>--</td>
                    <td>{{ e.createTimeStr }}</td>
                    <td>{{ e.hidden ? '√' : '' }}</td>
                    <td><a v-if="e.fileType == 1" href="javascript:;" @click="viewImg(e.url)">图片预览</a> <a :href="'/admin/fileInfoEdit?id=' + e.fileId">编辑</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div id="pagination" class="text-center"></div>
    </div>

    <!-- 模态对话框 -->
    <div class="modal fade" id="viewModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">图片预览</h4>
                </div>
                <div class="modal-body">
                    <p><img id="viewImg" width="100%" /></p>
                </div>
                <div class="modal-footer">
                    <a id="viewSource" type="button" class="btn btn-primary" target="_blank">查看原图</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</th:block>

<th:block layout:fragment="footer">
    <script type="text/javascript">
        var vm = new Vue({
            el: '#tbody',
            data: {
                list: []
            },
            methods: {
                viewImg: function (url) { // 图片预览
                    $('#viewModal').modal();
                    $('#viewImg').attr('src', url);
                    $('#viewSource').attr('href', url);
                }
            }
        });
        function searchData(pageNum) {
            var req = $('#search-form').serialize();
            $.post('/admin/getFileInfoList', req + '&pageNum=' + (pageNum || 1), function (json) {
                vm.list = json.data.dataList || [];
                // 分页通用方法
                $.common.pagin($('#pagination'), json.data.totalCount, json.data.totalPage, pageNum, 10, function (page) {
                    searchData(page);
                });
            });
            return false;
        }
        $(function () {
            searchData();
        });
    </script>
</th:block>

</html>