<html lang="zh-CN"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/admin_box">

<th:block layout:fragment="head"></th:block>

<th:block layout:fragment="content">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Search</h1>

        <form id="search-form" onsubmit="return searchData();">
            <div class="row placeholders">
                <div class="col-xs-6 col-sm-3 placeholder">
                    <input type="text" class="form-control" name="tagName" placeholder="标签名" />
                </div>
                <div class="col-xs-6 col-sm-3 placeholder text-left">
                    <input type="submit" class="btn btn-primary" value="搜索" />
                    <a class="btn btn-default" onclick="vm.edit();">新增</a>
                </div>
            </div>
        </form>

        <h2 class="sub-header">文件标签列表</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>文件标签</th>
                    <th>排序序号</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody id="tbody">
                <tr v-for="e in list">
                    <td>{{ e.tagId }}</td>
                    <td>{{ e.tagName }}</td>
                    <td>{{ e.sortOrder }}</td>
                    <td><a href="javascript:;" @click="edit(e.tagId)">编辑</a> <a href="javascript:;" @click="remove(e.tagId)">删除</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div id="pagination" class="text-center"></div>
    </div>

    <!-- 模态对话框 -->
    <div class="modal fade" id="viewModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" role="document">
            <form onsubmit="return save();">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">图片标签</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>标签名称</label>
                        <input class="form-control" name="tagName" placeholder="标签名称" />
                        <input type="hidden" name="tagId" />
                    </div>
                    <div class="form-group">
                        <label>排序序号</label>
                        <input class="form-control" name="sortOrder" type="number" placeholder="排序序号（只能填写数字）" />
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary" value="提交" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div><!-- /.modal-content -->
            </form>
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</th:block>

<th:block layout:fragment="footer">
    <script type="text/javascript">
        var vm = new Vue({
            el: '#tbody',
            data: {
                list: []
            },
            methods: {
                edit: function (id) { // 图片标签 新增/编辑
                    $('#viewModal').modal();
                    id ? $.post('/admin/getFileTag', {tagId: id}, function (json) {
                        $.common.initForm($('#viewModal form'), json.data);
                    }) : $.common.initForm($('#viewModal form'));
                },
                remove: function (id) {
                    if(!confirm('确定要删除该标签信息？')) {
                        return;
                    }
                    $.post('/admin/deleteFileTag', {tagId: id}, function (json) {
                        if(json.code != 0) {
                            alert(json.message || '删除失败');
                            return;
                        }
                        window.location.reload();
                    });
                }
            }
        });
        function searchData(pageNum) {
            var req = $('#search-form').serialize();
            $.post('/admin/getFileTagList', req + '&pageNum=' + (pageNum || 1), function (json) {
                vm.list = json.data.dataList || [];
                // 分页通用方法
                $.common.pagin($('#pagination'), json.data.totalCount, json.data.totalPage, pageNum, 10, function (page) {
                    searchData(page);
                });
            });
            return false;
        }
        // 保存图片标签
        function save() {
            var sort = $('#viewModal input[name="sortOrder"]').val();
            if(!sort) {
                alert('排序序号不能为空');
                return false;
            }
            var req = $('#viewModal form').serialize();
//            alert(req);
            $.post('/admin/saveFileTag', req, function (json) {
                if(json.code != 0) {
                    alert(json.message || '保存失败');
                    return;
                }
                window.location.reload();
            });
            return false;
        }
        $(function () {
            searchData();
        });
    </script>
</th:block>

</html>