<html lang="zh-CN"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/admin_box">

<th:block layout:fragment="head"></th:block>

<th:block layout:fragment="content">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Search</h1>

        <form id="search-form" onsubmit="return searchData();">
            <div class="row placeholders">
                <div class="col-xs-6 col-sm-3 placeholder">
                    <input type="text" class="form-control" name="fileName" placeholder="文件名" />
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                    <select class="form-control" name="fileType">
                        <option value="0">全部</option>
                        <option value="1">图片</option>
                        <option value="2">视频</option>
                    </select>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder text-left">
                    <input type="submit" class="btn btn-primary" value="搜索" />
                    <a class="btn btn-default" href="/admin/fileInfoEdit">新增</a>
                </div>
            </div>
        </form>

        <h2 class="sub-header">文件/资源列表</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>文件名</th>
                    <th>文件类型</th>
                    <th>时间</th>
                    <th>隐藏</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody id="tbody">
                <tr>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div id="pagination" class="text-center"></div>
    </div>
</th:block>

<th:block layout:fragment="footer">
    <script type="text/javascript">
        function searchData(pageNum) {
            var req = $('#search-form').serialize();
            $.post('/admin/getFileInfoList', req + '&pageNum=' + (pageNum || 1), function (json) {
                var list = json.data.dataList || [], totalPage = json.data.totalPage, html = '';
                list.forEach(function (e) {
                    html += '<tr>' +
                        '<td>' + e.fileName + '</td>' +
                        '<td>' + e.fileTypeName + '</td>' +
                        '<td>' + e.createTimeStr + '</td>' +
                        '<td>' + (e.hidden ? '√' : '') + '</td>' +
                        '<td><a href="/admin/fileInfoEdit?id=' + e.fileId + '">编辑</a></td>' +
                        '</tr>';
                });
                $('#tbody').html(html);
                $('#pagination').pagination(json.data.totalCount, {
                    callback: function (pageIndex) {
                        var page = pageIndex + 1;
                        if(page >= 1 && page <= totalPage) {
                            searchData(page);
                        }
                    },
                    items_per_page: 10,
                    num_display_entries: 5,
                    current_page: (pageNum || 1) - 1,
                    num_edge_entries: 0,
//                    link_to: "#a",
                    prev_text: "上一页",
                    next_text: "下一页",
                    ellipse_text: "...",
                    prev_show_always: true,
                    next_show_always: true,
                    renderer: "defaultRenderer",
                    show_if_single_page: true,
                    load_first_page: false
                });
            });
            return false;
        }
        $(function () {
            searchData();
        });
    </script>
</th:block>

</html>