/**
 * common component stylesheet
 */
.img-center-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-m5 {
    margin-top: -150px;
}
.img-3s {
    margin-top: -180px;
}
.img-x3 {
    margin-top: -120px;
}