/**
 * common component stylesheet
 */
.img-center-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-first {
    margin-top: -150px;
}
.img-second {
    margin-top: -180px;
}
.img-third {
    margin-top: -120px;
}