<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Bimmer - BMW</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body>
    <h1 th:text="'Now is: ' + ${time}"></h1>
    <h2>周杰伦 Party</h2>
    <div th:each="user, iter : ${users}">
        <span th:text="${user.strNickName}"></span>
        <img th:src="${user.strAvatarUrl}" />
    </div>
</body>
</html>