<!DOCTYPE html>
<html lang="zh-CN"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/login.css">
    <title>Bimmer - BMW</title>
</head>

<body>
    <div class="container">
        <form class="form-signin" onsubmit="return submitForm();">
            <h2 class="form-signin-heading">Sign in</h2>
            <input type="text" id="username" class="form-control" placeholder="用户名" required autofocus>
            <input type="password" id="password" class="form-control" placeholder="密码" required>
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="remember"> Remember me
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
            <div class="form-link">还没账号？ <a href="/register">&gt;&gt;Sign up</a></div>
        </form>
    </div>

    <!-- JavaScript -->
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" th:inline="javascript">
        var url = [[${callbackUrl}]];
        function submitForm() {
            var username = $('#username').val(), password = $('#password').val(), remember = $('#remember').is(':checked');
            $.post('/signin', {username: username, password: password, remember: remember}, function (json) {
                if(json.code == 0) {
                    location.href = url;
                    return;
                }
                alert(json.message);
            });
            return false;
        }
        $(function () {
            //
        });
    </script>
</body>
</html>