<!DOCTYPE html>
<html lang="zh-CN"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Bimmer - BMW</title>
</head>

<body>
    <h2 th:text="'Info: ' + ${info}"></h2>
    <h2 th:text="'Data: ' + ${data}"></h2>
    <h2 th:text="'Name: ' + ${name}"></h2>

    <!-- JavaScript -->
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            //alert(111);
        });
    </script>
</body>
</html>